@mixin button-list {
  background-color: $buttonColor;
  height: 38px;
  width: 115px;
  text-align: center;
  color: white;
  font-family: $font-family-main;
  font-weight: map-get($font-weights, "bold");
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

@mixin link-list {
  color: $cardTextColor;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


main {
  margin: 0 auto;
  width: 960px;
}

body {
  font-family: $font-family;
  background-color: $contentBackground;
}

p {
  font-size: $font-size;
}

.header {
  position: sticky;
  background-image: $background-image;
  background-size: 100% 900px;
  background-repeat: no-repeat;
  background-position: center;
  height: 570px;
  border-radius: 0 0 350px 0;

  & .header-wrap {
    padding-left: 150px;
  }

  & div a {
    padding-left: 120px;
    @include link-list;
  }

}

.header_heading {
  font-size: 56px;
  font-weight: map-get($font-weights, "bold");
  line-height: 60px;
  width: 380px;
  margin-top: 54px;
  margin-bottom: 0;
  color: $mainTextColor;

  &::after {
    content: " ";
    width: 233px;
    height: 40px;
    background-color: $wordsBackground;
    position: absolute;
    z-index: -1;
    left: 152px;
    top: 183px;
  }

}

.header_text {
  font-family: $font-family-main;
  letter-spacing: 0.5px;
  line-height: 20px;
  white-space: pre-line;
  font-size: 12px;
  font-weight: normal;
  color: $secondaryColor;
  padding-bottom: 46px;
  padding-top: 25px;

}

.landing-logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: $cardTextColor;

  & p {
    padding-left: 10px;
    margin-top: 5px;
    font-weight: 600;
  }

  & p span {
    display: flex;
    font-size: 8px;
    padding-left: 10px;
  }
}

div .header_button {
  @include button-list;
}


.section {
  text-align: center;

  & .section_text {
    padding-top: 40px;
    font-size: 32px;
    font-weight: 600;
    position: sticky;
    color: $mainTextColor;
  }

  & .section_text::after {
    content: " ";
    width: 145px;
    height: 40px;
    background-color: $wordsBackground;
    position: absolute;
    z-index: -1;
    right: 329px;

  }

  & .section_card_wrap {
    display: inline-block;
    padding-top: 7px;

    & .section_card {
      display: flex;
      width: 880px;
      height: 260px;
      padding: 25px;
      margin-top: 20px;
      background-color: $cardBackground;
      color: $contentBackground;
      border-radius: 10px;
      border: none;

    }
  }
}

.section_card_right_container {
  width: 514px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  & .section_card_heading {
    padding-top: 20px;
    font-size: 22px;
    color: $cardTextColor;
  }

  & .section_card_text {
    font-family: $font-family-main;
    color: $cardTextColor;
    letter-spacing: 0.5px;
    font-size: 14px;
    padding: 0 40px;
    text-align: left;
  }

  & .section_link {
    @include link-list;
  }

}

img[alt="experts"] {
  width: 320px;
  border-radius: 10px;
}

img[alt="content formats"] {
  width: 300px;
  border-radius: 10px;
}

img[alt="certificate"] {
  width: 340px;
  border-radius: 10px;
}

.section_banner {
  position: relative;
  top: 50px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  margin-top: 80px;
  width: 980px;
  border-radius: 10px;
  height: 120px;
  background: $sectionBannerColor;

}

.section_banner_heading {
  font-size: 30px;
  font-weight: bold;
  color: $mainTextColor;

  &:after {
    content: " ";
    width: 70px;
    height: 30px;
    background-color: $wordsBackground;
    position: absolute;
    z-index: -1;
    left: 271px;
    top: 32px;

  }
}

.section_banner_text {
  font-family: $font-family-main;
  color: $cardTextColor;
  letter-spacing: 0.5px;
  font-size: 12px;
  padding-top: 10px;
}

.section_banner_button {
  @include button-list;
}

.footer {
  position: static;
  top: -25px;
  padding-left: 150px;
  align-items: center;
  margin: 0;
  height: 220px;
  background: $cardBackground;
  color: $cardTextColor;

  & .footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

    & .footer_logo {
      @extend .landing-logo;
    }
  }
}

.footer_text {
  font-size: 14px;
  width: 300px;
  text-align: left;

}

.footer-cr {
  padding-right: 130px;
}