$font-family:'Source Sans Pro', sans-serif;
$font-family-main: 'Hind', sans-serif;
$font-size: 18px;
$contentBackground: #fff;
$background-image: url("../img/m-h-day.jpg") ;
$wordsBackground: blue;
$mainTextColor:#000000;
$secondaryColor:#2C2F3C;
$cardTextColor: #ffffff;
$cardBackground:#21232E;
$sectionBannerColor:linear-gradient(to right, #689803, #2c5adc);
$buttonColor: #699900;

$font-weights: ("regular": 400, "medium": 600, "bold": 700);
