$font-family:'Source Sans Pro', sans-serif;
$font-family-main: 'Hind', sans-serif;
$font-size: 18px;
$contentBackground: #21232E;
$background-image: url("../img/m-h-night.jpg") ;
$wordsBackground: #FF4E33;
$mainTextColor:#ffffff;
$secondaryColor: #fffcf3;
$cardTextColor: white;
$cardBackground:#3B3F50;
$sectionBannerColor:linear-gradient(to right, #DEA405, #9A394A);
$buttonColor: #E3AC00;

$font-weights: ("regular": 400, "medium": 600, "bold": 700);