* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.header {
	position: sticky;
	background-image: url("../img/apples.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 860px;
}

.container {
	margin: 0 auto;
	max-width: 1410px;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 46px;
}

.header-logo {
	color: #FFF;
	font-size: 18px;
	letter-spacing: 3px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.navigation-list {
	display: flex;
}

.navigation-link {
	color: #FFF;
	padding-left: 75px;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 230px;
	color: #FFF;
}

.header-text_large {
	font-size: 60px;
	letter-spacing: 9px;
	font-weight: 500;
}

.header-text_largest {
	font-size: 110px;
}

.header-text_small {
	font-size: 16px;
}

.header-button {
	margin-top: 200px;
	width: 280px;
	height: 60px;
	font-size: 16px;
	color: #FFF;
	border: 1px solid #FFF;
	background-color: #343638;

}

.first-section {
	display: flex;
	padding: 160px 0;
	background-color: #FFF;
}

.first-block {
	width: 100%;
	font-size: 28px;
	padding-left: 2px;
}

.block_bold {
	font-weight: bold;
}

.second-block {
	width: 100%;
	padding-left: 22px;
	font-size: 17px;
}

.second-section {
	background-color: #F3F3F3;
	padding-top: 168px;
}

.second-section_header {
	text-align: center;
	font-size: 29px;
	letter-spacing: -1.2px;
}

.first-card {
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;

}

.image {
	position: relative;
	float: left;
}

.first-card_img {
	height: 349px;
}

.first-card_data::after {
	content: " 172 ♥";
	border: 2px solid #FFF;
	width: 60px;
	height: 30px;
	position: absolute;
	left: 782px;
	top: -280px;
	font-size: 20px;
	padding-left: 5px;
	background-color: #343638;
}

.first-card_data {
	position: absolute;
	top: 305px;
	left: 25px;
	color: #FFF;
	font-size: 16px;
}

.first-card_text {
	width: 512px;
	font-size: 17px;
	padding: 134px 3px;
	text-align: center;
	line-height: 24px;
}

.third-section {
	background-color: #F3F3F3;
}

.second-card,
.new-card {
	display: flex;
	flex-wrap: wrap;
}

.forth-section {
	background-color: #F3F3F3;
}


.second-card_text {
	font-size: 17px;
	width: 512px;
	padding: 143px 3px;
	text-align: center;
	line-height: 23px;
}

.second-card_img {
	height: 349px;
	filter: brightness(80%);
}


.second-card_data,
.third-card_data {
	position: relative;
	top: -35px;
	left: 25px;
	color: #FFF;
	font-size: 16px;
}

.second-card_data::after {
	content: " 172 ♥";
	border: 2px solid #FFF;
	width: 60px;
	height: 30px;
	position: absolute;
	left: 772px;
	top: -280px;
	font-size: 18px;
	padding-top: 5px;
	padding-left: 7px;
	background-color: #343638;
}

.third-card_data::after {
	content: " 20 ♥";
	border: 2px solid #FFF;
	width: 50px;
	height: 30px;
	position: absolute;
	left: 787px;
	top: -285px;
	font-size: 18px;
	padding-top: 5px;
	padding-left: 7px;
	background-color: #343638;
}

.forth-card_data {
	position: relative;
	top: -35px;
	left: 25px;
	color: #FFF;
	font-size: 16px;
}

.forth-card_data::after {
	content: " 150 ♥";
	border: 2px solid #FFF;
	width: 60px;
	height: 30px;
	position: absolute;
	left: 772px;
	top: -280px;
	font-size: 18px;
	padding-top: 5px;
	padding-left: 7px;
	background-color: #343638;
}

.subscribe-section {
	clear: both;
	background-color: #F3F3F3;
	height: 300px;
	padding-top: 55px;
}

.form-block {
	background-color: #FFF;
	height: 150px;
	display: flex;
	align-items: center;
	padding-left: 30px;

}

.subscribe-text {
	font-size: 28px;
	padding-right: 15px;
}

.input {
	width: 840px;
	height: 70px;
	margin-right: -2px;
	font-size: 16px;
	padding-left: 36px;
	background-color: #F3F3F3;
}

.subscribe-button {
	width: 120px;
	height: 70px;
	font-size: 16px;
	color: #FFF;
	border: 1px solid #FFF;
	background-color: #343638;
}

.footer {
	padding-top: 110px;
}

.footer_block {
	display: flex;
	padding-bottom: 50px;

}

.footer_block_header {
	padding-bottom: 20px;
}

.block_text {
	color: #A4A4A4;
	padding-right: 30px;
}

.footer_block-first,
.footer_block-second,
.footer_block-third,
.footer_block-fourth {
	width: 25%;
}

.block_italic {
	font-style: italic;
}

.block_mono {
	font-style: normal;
	opacity: 0.3;
}

.contact-list {
	line-height: 24px;
}

.newsletter-input {
	background-color: #F3F3F3;
	color: #000;
	margin-top: 5px;
	height: 40px;
	width: 230px;
	padding-left: 8px;
}

.newsletter-button {
	width: 90px;
	height: 40px;
	font-size: 16px;
	color: #FFF;
	background-color: #343638;
	margin-left: -4px;
}

.contact-color {
	color: #A4A4A4;
}
.footer-navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.footer-navigation_copyright {
	color: #A4A4A4;
}

.footer-navigation_list {
	display: flex;
	color: #000;
	padding-right: 30px;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
}

@media screen and (max-width: 1410px) {
	.first-card_text,
	.second-card_text {
		width: 912px;
		font-size: 17px;
		padding: 5px;
		text-align: center;
		line-height: 24px;
	}

}