
.tm-box-bg-title:hover {
	color: white;
	background-color: #87CEFA;
	font-weight: bold;
}

p::first-letter {
	font-size: 30px;
	color: #87CEFA;
}

.tm-banner {
	border: 2px solid gray;
}

section,
.tm-content-box,
.tm-main-nav {
	box-shadow: 0 0 10px 0 #9e9e9e;
}

.tm-banner-inner {
	outline: solid 30px #F4F4F4;
}

section:before {
	content: "";
	border: 24px solid transparent;
	border-top: 0;
	border-left: 150px solid #6AC2E5;
}

.carousel-content .flex-item .tm-section-title {
	color: gainsboro;
	letter-spacing: 5px;
}

.tm-section-description::first-letter {
	padding-left: 30px;

}

h2 + p {
	font-style: italic;
}

.flex-2-col {
	display: flex;
	align-items: center;
}

.flex-2-col .tm-team-description-container {
	line-height: 2em;
}

ol > li > a:visited {
	text-decoration: underline;
}

ol > li > a:visited {
	color: black;
}

ol li a:hover {
	color: #87CEFA;
	text-decoration-line: underline;
	text-decoration-style: double
}

.text:after {
	content: "New";
	display: inline-block;
	color: red;
	vertical-align: super;
	font-size: 12px;
}

.box-work {
	padding: 10px;
}

.box-work:nth-child(even) {
	background-color: #F2F2F2;
}

.box-work p::first-letter {
	font-size: 30px;
	color: black;
}

.mandatory-field:after {
	content: "*";
	color: red;
	font-weight: bold;
}

.submit-btn:hover {
	background-color: #A0D8FB;
	border: 1px solid #A0D8FB;
}

.submit-btn {
	background-color: white;
	color: #3e94ff;
	border: 1px solid #0febff;
	float: right;
}

.tm-nav-item:hover {
	background: #F5F5F5;
}

@media print {

	.tm-sidebar,
	.boxes,
	.heading,
	.blocks,
	#ideas,
	.tm-content-box:not(:first-child) {
		display: none;
	}


	.tm-banner {
		width: 530px;
		height: 220px;
		margin-left: 80px;
		border: none;
		padding: 0;

	}

	.tm-banner-inner {
		outline: none;
	}


	.tm-banner-text {
		font-size: 1.5em;
		padding-bottom: 10px;
	}

	.tm-banner-text::first-letter {
		font-size: 1.6em;
	}


	h2.tm-section-title {
		margin-left: 60px;
		margin-bottom: 0;
		color: blue;
		font-size: 34px;
	}

	.flex-item > img {
		padding-top: 20px;
		width: 220px;

	}

	.flex-2-col {
		display: flex;
	}

	.flex-item {
		padding-top: 20px;
	}

	.tm-section-description {
		margin-left: 60px;
		margin-bottom: 0;
		padding-top: 20px;
		width: 290px;
		font-size: 18px;
	}

	.tm-section-description::first-letter {
		font-size: 30px;
		padding-left: 25px;
		color: #696969;
	}

	.text-xs-center::first-letter {
		font-size: 30px;
	}

	.text-xs-center {
		color: #696969;
		font-size: 18px;
	}

	section:before {
		content: "";
		border: none;
	}

}


