
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1410px;
	margin: 0 auto;
}

li {
	list-style-type: none;
}


a {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header-logo {
	padding-top: 15px;
	padding-right: 390px;
}


.navigation-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 100px;
	padding-top: 10px;
}

.navigation-link {
	color: #363636;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
}

.navigation-link:hover {
	color: #0078aa;
}

.banner {
	background-image: url("../img/lady.jpg");
	background-size: cover;
	background-repeat: round;
	background-position: left;
	height: 565px;
	padding-top: 2px;
}


.banner-text {
	display: flex;
	flex-direction: column;
	padding-top: 155px;
	padding-left: 120px;
}


.banner-header {
	font-size: 40px;
	font-weight: 800;
}

.banner-body {
	margin-top: -20px;
	width: 460px;
	color: #363636;
}


.banner-icons_size {
	color: #fff;
	background-color: #0078aa;
	padding: 15px;
	margin: 1px 5px;
	border-radius: 30px;
	width: 27px;
	height: 24px;
}

.banner-icons_size:hover {
	color: #0078aa;
	background-color: #fff;
	padding: 15px;
	margin: 1px 5px;
	border-radius: 35px;
	border: 1px solid #0078aa;
}

.info-banner_photo {
	float: left;
}

.info-banner {
	margin-top: 60px;
	margin-left: 16px;
}

.info-banner_body {
	float: right;
	padding-right: 270px;
	width: 460px;
	line-height: 18px;
}

.info-banner_header {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 2px;
}

h5 {
	color: #0078aa;
	font-weight: normal;
	margin-top: -12px;
	text-transform: uppercase;
}


.info-header {
	font-weight: bold;
}

.arrow {
	color: #0078aa;
	padding-right: 5px;
}

.arrow-button {
	color: #fff;
	position: relative;
	top: 14px;
}

.unvisible {
	visibility: hidden;

}

.info-banner_button {
	position: fixed;
	right: 30px;
	border-radius: 30px;
	border: none;
	height: 50px;
	width: 50px;
	background-color: #0078aa;
}

.services {
	background-image: url("../img/services_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	clear: both;
}

.services-header {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	padding-top: 135px;
	letter-spacing: 1px;
}

.services-header_mini {
	text-align: center;
	font-size: 14px;
	margin-top: -20px;
	text-transform: uppercase;
}

.services-block {
	display: flex;
	flex-wrap: wrap;
	margin-left: 80px;
}

.ser-block {
	padding-left: 30px;
	padding-bottom: 5px;
	font-size: 15px;
	width: 380px;
	background-color: #fff;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 40px;
}

.offers {
	padding-top: 50px;
	background-image: url("../img/pricing_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;

}

.offers-header {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	padding-top: 25px;
	letter-spacing: 1px;
}

.offers-header_mini {
	text-align: center;
	font-size: 16px;
	margin-top: -30px;
	text-transform: uppercase;
}

.offers-blocks {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 40px;

}

.offers-blocks_first,
.offers-blocks_third {
	background-color: #47C9E5;
	color: #fff;
	width: 400px;
	height: 550px;
	text-align: center;
	padding-top: 15px;
	line-height: 25px;
}

.offers-blocks_second {
	border: 2px solid #47C9E5;
	background-color: #fff;
	color: #0078aa;
	width: 400px;
	height: 600px;
	text-align: center;
	padding-top: 50px;
	line-height: 25px;
}

.offers-blocks_header1,
.offers-blocks_header2,
.offers-blocks_header3 {
	font-size: 24px;
	font-weight: bold;
}

.price {
	font-size: 58px;
	font-weight: bold;
}

.offer-button {
	margin-top: 10px;
	color: #47C9E5;
	background-color: #fff;
	border: 1px solid #0078aa;
	height: 45px;
	width: 120px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;

}

.offer-button:hover {
	background-color: #47C9E5;
	border: 2px solid #fff;
	color: #fff;
}

.offers-blocks_italic {
	font-style: italic;
	margin-top: -25px;
}


.appointment-banner {
	display: flex;
	flex-wrap: wrap;
}

.appointment-form {
	padding-left: 35px;
}

.appointment-header {
	font-size: 30px;
	font-weight: 600;
	padding-top: 70px;
	letter-spacing: 1px;
}

.appointment-header_mini {
	font-size: 14px;
	margin-top: -25px;
	text-transform: uppercase;
}

img[alt="contact_image"] {
	width: 758px;
	margin-left: -54px;
	margin-top: 35px;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
}


input {
	width: 600px;
	padding: 12px 20px;
	margin-top: 8px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #363636;
	font-style: italic;
}

input:focus {
	outline: none;
}

.form-button {
	margin-top: 10px;
	color: #fff;
	background-color: #47C9E5;
	height: 45px;
	width: 80px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10px;
	outline: none;
}

.form-button:hover {
	background-color: #fff;
	border: 2px solid #47C9E5;
	color: #47C9E5;
}

.footer {
	margin-top: -17px;
	height: 50px;
	background-color: #363636;
}

.footer-copyright {
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
}


@media screen and (max-width: 1490px) {
	.banner-photo {
		width: 508px;
	}

	.ser-block {
		width: 350px;
		padding-left: 15px;
	}

	img[alt="contact_image"] {
		width: 600px;
		height: 500px;
	}

}

@media (min-width: 768px) and (max-width: 1279px) {
	.header-logo {
		position: absolute;
		left: 100px;
	}

	.navigation-list {
		padding-left: 380px;
	}

	.navigation-link {
		font-size: 12px;
	}

	.banner {
		background-size: cover;
		background-position: left;
		height: 438px;
		background-repeat: inherit;
	}

	.banner-text {
		padding-top: 100px;
		padding-left: 100px;
	}

	.banner-photo {
		width: 400px;
		height: 341px;
	}

	.info-banner_body {
		font-size: 13px;
		width: 300px;
		padding-right: 0;
		line-height: 14px;
	}

	.services-block {
		margin: 0;
	}

	.ser-block {
		border: none;
		margin-bottom: 30px;
		margin-left: 5px;
		width: 225px;
	}

	.offers-blocks_first, .offers-blocks_third {
		width: 230px;
		height: 550px;
	}

	.offers-blocks_second {
		width: 230px;
		height: 580px;
	}

	img[alt="contact_image"] {
		width: 470px;
		height: 500px;
	}

	.appointment-form {
		padding-left: 10px;
		width: 210px;
	}

	input {
		width: 300px;
	}

}

@media (min-width: 414px) and (max-width: 767px) {
	.header-logo {
		position: absolute;
		left: 200px;
	}

	.navigation-list {
		position: relative;
		top: 30px;
		margin-left: -100px;
	}

	.navigation-link {
		font-size: 12px;
	}

	.banner {
		background-size: contain;
		background-position: left;
		height: 100%;
		width: 780px;
		background-repeat: no-repeat;
		margin-top: -35px;
	}

	.banner-header {
		text-align: center;
	}

	.banner-body {
		text-align: center;
		width: 330px;
		font-size: 13px;
	}

	.banner-text {
		padding-top: 100px;
		width: 250px;
		padding-left: 100px;
	}

	.banner-photo {
		width: 400px;

	}

	.banner-icon {
		display: flex;
		justify-content: space-between;
	}

	.info-banner_body {
		text-align: center;
		font-size: 15px;
		width: 410px;
		padding-right: 0;
		line-height: 14px;
	}

	.services-block {
		margin: 0;
	}


	.ser-block {
		padding-left: 30px;
		padding-bottom: 5px;
		font-size: 15px;
		width: 360px;
		margin-left: 10px;
		margin-bottom: 20px;
	}

	.offers-blocks_first,
	.offers-blocks_third {
		width: 400px;
		height: 550px;
		text-align: center;
		margin-bottom: 10px;
		padding-top: 15px;
		line-height: 25px;
	}

	.offers-blocks_second {
		border: 2px solid #47C9E5;
		background-color: #fff;
		color: #0078aa;
		width: 400px;
		height: 600px;
		text-align: center;
		margin-bottom: 10px;
		padding-top: 50px;
		line-height: 25px;
	}

	img[alt="contact_image"] {
		width: 470px;
		height: 360px;
	}

	.appointment-header {
		padding-top: 0;
		text-align: center;
	}

	.appointment-header_mini {
		text-align: center;
	}

	.phone-style {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	.appointment-form {
		padding-left: 30px;
		width: 310px;
	}

	input {
		width: 300px;
	}

}


