* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1410px;
	display: flex;
	justify-content: center;
	margin-top: 120px;
	visibility: hidden;
}

.form {
	border-radius: 5px;
	border: 2px solid grey;
	padding: 20px;
	width: 600px;
}

.form-main {
	display: flex;
	flex-direction: column;
}

.input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	background-color: #0eaf74;
	border-radius: 6px;
	box-sizing: border-box;
}

.button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #45a049;
}