* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 960px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
}

p {
  font-size: 18px;
}

.header {
  position: sticky;
  background-image: url("../img/m-h-day.jpg");
  background-size: 100% 900px;
  background-repeat: no-repeat;
  background-position: center;
  height: 570px;
  border-radius: 0 0 350px 0;
}
.header .header-wrap {
  padding-left: 150px;
}
.header div a {
  padding-left: 120px;
  color: #ffffff;
}

.header_heading {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  width: 380px;
  margin-top: 54px;
  margin-bottom: 0;
  color: #000000;
}
.header_heading::after {
  content: " ";
  width: 233px;
  height: 40px;
  background-color: blue;
  position: absolute;
  z-index: -1;
  left: 152px;
  top: 183px;
}

.header_text {
  font-family: "Hind", sans-serif;
  letter-spacing: 0.5px;
  line-height: 20px;
  white-space: pre-line;
  font-size: 12px;
  font-weight: normal;
  color: #2C2F3C;
  padding-bottom: 46px;
  padding-top: 25px;
}

.landing-logo, .footer .footer-wrap .footer_logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: #ffffff;
}
.landing-logo p, .footer .footer-wrap .footer_logo p {
  padding-left: 10px;
  margin-top: 5px;
  font-weight: 600;
}
.landing-logo p span, .footer .footer-wrap .footer_logo p span {
  display: flex;
  font-size: 8px;
  padding-left: 10px;
}

div .header_button {
  background-color: #699900;
  height: 38px;
  width: 115px;
  text-align: center;
  color: white;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.section {
  text-align: center;
}
.section .section_text {
  padding-top: 40px;
  font-size: 32px;
  font-weight: 600;
  position: sticky;
  color: #000000;
}
.section .section_text::after {
  content: " ";
  width: 145px;
  height: 40px;
  background-color: blue;
  position: absolute;
  z-index: -1;
  right: 329px;
}
.section .section_card_wrap {
  display: inline-block;
  padding-top: 7px;
}
.section .section_card_wrap .section_card {
  display: flex;
  width: 880px;
  height: 260px;
  padding: 25px;
  margin-top: 20px;
  background-color: #21232E;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.section_card_right_container {
  width: 514px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.section_card_right_container .section_card_heading {
  padding-top: 20px;
  font-size: 22px;
  color: #ffffff;
}
.section_card_right_container .section_card_text {
  font-family: "Hind", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-size: 14px;
  padding: 0 40px;
  text-align: left;
}
.section_card_right_container .section_link {
  color: #ffffff;
}

img[alt="experts"] {
  width: 320px;
  border-radius: 10px;
}

img[alt="content formats"] {
  width: 300px;
  border-radius: 10px;
}

img[alt="certificate"] {
  width: 340px;
  border-radius: 10px;
}

.section_banner {
  position: relative;
  top: 50px;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  margin-top: 80px;
  width: 980px;
  border-radius: 10px;
  height: 120px;
  background: linear-gradient(to right, #689803, #2c5adc);
}

.section_banner_heading {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}
.section_banner_heading:after {
  content: " ";
  width: 70px;
  height: 30px;
  background-color: blue;
  position: absolute;
  z-index: -1;
  left: 271px;
  top: 32px;
}

.section_banner_text {
  font-family: "Hind", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-size: 12px;
  padding-top: 10px;
}

.section_banner_button {
  background-color: #699900;
  height: 38px;
  width: 115px;
  text-align: center;
  color: white;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.footer {
  position: static;
  top: -25px;
  padding-left: 150px;
  align-items: center;
  margin: 0;
  height: 220px;
  background: #21232E;
  color: #ffffff;
}
.footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.footer_text {
  font-size: 14px;
  width: 300px;
  text-align: left;
}

.footer-cr {
  padding-right: 130px;
}
